/*** MOBILE STYLES ***/
/* Body */

body {
    margin: 0;
    padding: 0;
}

/* Header and Paragraph Fonts */

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3.75rem;
    color: #E3ACB1;
    text-align: center;
}

h2 {
    font-family: 'Sacramento', cursive;
    font-size: 2.7rem;
    color: #E3ACB1;
    text-align: center;
    padding: 8%;
}

h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.25rem;
    color: #E3ACB1;
    text-align: center;
}

p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 1.25rem;
    text-align: center;
    line-height: 1.75rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: -12%;
}

/* Navigation */

nav {
    background-color: #AC768E;
    margin-bottom: -3.5%;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 2.25%;
    margin-top: -3%;
}

nav ul li {
    display: inline;
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 3%;
}

/* Image */

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#img1, #img2, #img3 {
    width: 65%;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 10%;
    margin-bottom: -3%;
}

/* Footer */

footer {
    background: #AC768E;
    margin-top: 5%;
    clear: both;
    padding: 3%;
}

footer p {
    width: 90%;
    font-size: 1rem;
    color: white;
    margin: 0;
}

/*** TABLET STYLES ***/

@media (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 4rem;
        margin-top: 3%;
        margin-bottom: 5%;
    }
    
    h2 {
        font-size: 3rem;
        padding-bottom: 10%;
        margin-top: 0;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.15rem;
    }

    nav ul {
        padding: 2%;
    }

    #banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    #img1, #img2, #img3 {
        margin: auto;
        padding: 0;
        width: 90%;
    }
    
    .imgfloat {
        margin-top: 5%;
        float: left;
        width: 33.25%;
    }
}

/*** DESKTOP STYLES ***/

@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
        margin-top: 3%;
        margin-bottom: 3.5%;
    }
    
    h2 {
        font-size: 2rem;
        padding-bottom: 11%;
        margin-top: -3.5%;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.25rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    nav ul {
        padding: 1%;
    }

    nav ul li {
        font-size: 1.25rem;
        padding: 1.75%;
    }

    #banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

    #img1, #img2, #img3 {
        margin: auto;
        padding: 0;
        width: 90%;
    }
    
    .imgfloat {
        margin-top: 5%;
        float: left;
        width: 33.25%;
    }
}